<?xml version="1.0" ?>
<robot name="optical_table">
  <link name="world_table"/>
  <link name="table_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://simforge_server/assets/tools/optical_table.dae" scale="1.4 1.37 1.17"/>
      </geometry>
      <material name="black">
        <color rgba="0.2 0.2 0.2 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.5" rpy="0 0 0"/>
      <geometry>
        <box size="2.1 1.1 1.04"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="200"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
  </link>
  <joint name="table_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="world_table"/>
    <child link="table_link"/>
  </joint>
</robot>
