<?xml version="1.0" ?>
<robot name="simple_tool">
  <link name="tool_base_link">
    <visual>
      <geometry>
        <cylinder length="0.2" radius="0.02"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.1"/>
      <material name="red">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.2" radius="0.02"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.1"/>
    </collision>
  </link>
  <link name="tool_tip_link"></link>
  <joint name="tool_base_to_tip" type="fixed">
    <parent link="tool_base_link"/>
    <child link="tool_tip_link"/>
    <origin rpy="0 0 0" xyz="0 0 0.2"/>
  </joint>
</robot>