<?xml version='1.0' encoding='utf-8'?>
<robot name="meca_500_r3">

  
  <material name="meca_black">
    <color rgba="0 0 0 1" />
  </material>
  <material name="meca_silver">
    <color rgba="0.3 0.3 0.3 1" />
  </material>

  
  
  
  <link name="world" />
  <joint name="meca_in_world" type="fixed">
    
    <origin xyz="0 0 0.0" rpy="0 0 0" />
    <parent link="world" />
    <child link="meca_base_link" />
    <axis xyz="0 0 1" />    
  </joint>

  
  <link name="meca_base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meca_500_r3_base.dae" />
      </geometry>
      <material name="meca_black" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meca_500_r3_base_collision.stl" />
      </geometry>
    </collision>
  </link>

  
  <link name="meca_axis_1_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meca_500_r3_j1.dae" />
      </geometry>
      <material name="meca_silver" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meca_500_r3_j1_collision.stl" />
      </geometry>
    </collision>
  </link>

  <joint name="meca_axis_1_joint" type="revolute">
    <origin xyz="0.012498 0 0.091" rpy="0 0 0" />
    <parent link="meca_base_link" />
    <child link="meca_axis_1_link" />
    <axis xyz="0 0 1" />
    <limit effort="10.0" velocity="2.61799" lower="-3.05433" upper="3.05433" />
  </joint>

  
  <link name="meca_axis_2_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meca_500_r3_j2.dae" />
      </geometry>
      <material name="meca_silver" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meca_500_r3_j2_collision.stl" />
      </geometry>
    </collision>
  </link>

  <joint name="meca_axis_2_joint" type="revolute">
    <origin xyz="0 0 0.044" rpy="0 0 0" />
    <parent link="meca_axis_1_link" />
    <child link="meca_axis_2_link" />
    <axis xyz="0 1 0" />
    <limit effort="10.0" velocity="2.61799" lower="-1.22173048" upper="1.5708" />
  </joint>

  
  <link name="meca_axis_3_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meca_500_r3_j3.dae" />
      </geometry>
      <material name="meca_silver" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meca_500_r3_j3_collision.stl" />
      </geometry>
    </collision>
  </link>

  <joint name="meca_axis_3_joint" type="revolute">
    <origin xyz="0 0 0.135" rpy="0 0 0" />
    <parent link="meca_axis_2_link" />
    <child link="meca_axis_3_link" />
    <axis xyz="0 1 0" />
    <limit effort="10.0" velocity="3.14159" lower="-2.35619" upper="1.22173048" />
  </joint>

  
  <link name="meca_axis_4_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meca_500_r3_j4.dae" />
      </geometry>
      <material name="meca_silver" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meca_500_r3_j4_collision.stl" />
      </geometry>
    </collision>
  </link>

  <joint name="meca_axis_4_joint" type="revolute">
    <origin xyz="0 0 0.038" rpy="0 0 0" />
    <parent link="meca_axis_3_link" />
    <child link="meca_axis_4_link" />
    <axis xyz="1 0 0" />
    <limit effort="10.0" velocity="5.23599" lower="-2.96706" upper="2.96706" />
  </joint>

  
  <link name="meca_axis_5_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meca_500_r3_j5.dae" />
      </geometry>
      <material name="meca_silver" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meca_500_r3_j5_collision.stl" />
      </geometry>
    </collision>
  </link>

  <joint name="meca_axis_5_joint" type="revolute">
    <origin xyz="0.12 0 0" rpy="0 0 0" />
    <parent link="meca_axis_4_link" />
    <child link="meca_axis_5_link" />
    <axis xyz="0 1 0" />
    <limit effort="10.0" velocity="5.23599" lower="-2.00713" upper="2.00713" />
  </joint>

  
  <link name="meca_axis_6_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meca_500_r3_j6.dae" />
      </geometry>
      <material name="meca_silver" />
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meca_500_r3_j6_collision.stl" />
      </geometry>
    </collision>
  </link>

  <joint name="meca_axis_6_joint" type="revolute">
    <origin xyz="0.07 0 0" rpy="0 0 0" />
    <parent link="meca_axis_5_link" />
    <child link="meca_axis_6_link" />
    <axis xyz="1 0 0" />
    <limit effort="10.0" velocity="8.72665" lower="-3.14159" upper="3.14159" />
  </joint>

<link name="MECA500_1_tool_tool_base_link">
    <visual>
      <geometry>
        <cylinder length="0.1" radius="0.03" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.05" />
      <material name="red">
        <color rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.1" radius="0.03" />
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 0.05" />
    </collision>
  </link>
  <link name="MECA500_1_tool_tool_tip_link" />
  <joint name="tool_base_to_tip" type="fixed">
    <parent link="MECA500_1_tool_tool_base_link" />
    <child link="MECA500_1_tool_tool_tip_link" />
    <origin rpy="0 0 0" xyz="0 0 0.05" />
  </joint>
<joint name="MECA500_1_tool_attach_joint" type="fixed"><parent link="meca_axis_6_link" /><child link="MECA500_1_tool_tool_base_link" /><origin xyz="0.0 0.0 0.0" rpy="0.0 1.57 0.0" /></joint></robot>